body{

	align:center;
	padding:70px 0px 0px 0px;
	z-index:0;
	background: #650000;
    border-color: #6b1b6b !important;
    font-family: Helvetica !important;  

}


.container,
.navbar-fixed-top .container{
  /* width: 940px; */
}


.footer {
    text-align: center;
    margin-bottom: 20px
}

.footer ul {
    margin-left: 0;
    padding-left: 0;
    display: inline
}

.footer li {
    margin-left: 0;
    padding: 3px 15px;
    list-style: none;
    display: inline;
    font-size: 12px
}

.footer a {
    color: #d6d57e
}

.main-container {
    background: #fff;
    -webkit-box-shadow: 0px 0px 50px 10px #cd2323;
    box-shadow: 0px 0px 50px 10px #cd2323;
    min-height: 470px; 
    padding:20px;
    margin-bottom:20px;
    border-radius:5px;
}



.btn-h1-spacing{

    margin-top:18px;

}



.btn-invisible{

    position: absolute;
    left: -9999px; 
    width: 1px; 
    height: 1px;" tabindex="-1"

}

.error-template {padding: 40px 15px;text-align: center;}
.error-actions {margin-top:15px;margin-bottom:15px;}
.error-actions .btn { margin-right:10px; }

/*
    TABLES



table {
table-layout:auto;
 width:100%;
word-wrap:break-word;

}


.


.fixed-table {
     
    width: 100%;
    table-layout: fixed;

    
    border-collapse: collapse;
    border-spacing: 0;
    border: 0; 
}
.fixed-table td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
}

.nowrap {
    
    white-space: nowrap;
}



*/



/*

.table {
    table-layout:fixed;
  
    word-wrap:break-word;

}

*/



#tdedit{
    padding-left:1px;

}


#tdview{
    padding-right:1px;

}


input.search-query {
    padding: 4px 9px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: normal;
    line-height: 1;
    background-color: #7b7b7b;
    color: #ffffff;
    border: 1px solid #151515;
}


/*
    this sets the general green color of the navbar
 */
.navbar-default{

    background-color:#096804;
    border-color:#096804;
    color:#ffffff;
}


/* sets the text color of the brand */
.navbar-default .navbar-brand{

    color:#d6d57e;
}

/* this sets the hover and focus of the brand */

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus{
    
    color:#fffda8;
    background-color: transparent;
    
}

/* sets the text color of the navbar-nav */
.navbar-default .navbar-nav > li >a {

    color:#d6d57e;
    font-size: 13px;
   
}


/* this sets the hover and focus of the linkx in navbar-nav */

.navbar-default .navbar-nav > li >a:hover,
.navbar-default .navbar-nav > li >a:focus {

  
    color:#fffda8;
     background-color: transparent;
   
}

/* this sets the text color,  hover and focus of the link in navbar-nav when active*/
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus{

    color:#fffda8;
    background-color: transparent;

}




nav-list {
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 0
}

.nav-list>li>a,
.nav-list .nav-header {
    margin-right: -15px;
    margin-left: -15px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5)
}

.nav-list>li>a {
    padding: 3px 15px
}

.nav-list>.active>a,
.nav-list>.active>a:hover {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
    background-color: #08c
}

.nav-list [class^="icon-"] {
    margin-right: 2px
}

.nav-list .divider {
    *width: 100%;
    height: 1px;
    margin: 8px 1px;
    *margin: -5px 0 5px;
    overflow: hidden;
    background-color: #e5e5e5;
    border-bottom: 1px solid #fff
}

.nav .nav-header {
    display: block;
    padding: 3px 15px;
    font-size: 11px;
    font-weight: bold;
    line-height: 18px;
    color: #999;
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
    text-transform: uppercase;
}